<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
  </configSections>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
  </startup>
  <connectionStrings>
    <!-- Test -->
    <!--add name="MCMEntities" connectionString="metadata=res://*/Data.MCMModel.csdl|res://*/Data.MCMModel.ssdl|res://*/Data.MCMModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=tTAURUSSQL01;initial catalog=MCM;persist security info=True;user id=Monitors;password=W@tch3r$;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
    <add name="AMSI_AppsEntities" connectionString="metadata=res://*/Data.AppModel.csdl|res://*/Data.AppModel.ssdl|res://*/Data.AppModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=tAPPSERVCSQL01;initial catalog=AMSI_Apps;persist security info=True;user id=Monitors;password=W@tch3r$;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
    <add name="ECOMEntities" connectionString="metadata=res://*/Data.ECOMModel.csdl|res://*/Data.ECOMModel.ssdl|res://*/Data.ECOMModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=tECOMSQL01;initial catalog=ECOMTEST;persist security info=True;user id=Monitors;password=W@tch3r$;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" /-->
    <!-- Prod -->
    <add name="MCMEntities" connectionString="metadata=res://*/Data.MCMModel.csdl|res://*/Data.MCMModel.ssdl|res://*/Data.MCMModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=sTAURUSDB1;initial catalog=MCM;persist security info=True;user id=Monitors;password=W@tch3r$;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
    <add name="AMSI_AppsEntities" connectionString="metadata=res://*/Data.AppModel.csdl|res://*/Data.AppModel.ssdl|res://*/Data.AppModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=sAPPSERVCSQLEP1;initial catalog=AMSI_Apps;persist security info=True;user id=Monitors;password=W@tch3r$;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
    <add name="ECOMEntities" connectionString="metadata=res://*/Data.ECOMModel.csdl|res://*/Data.ECOMModel.ssdl|res://*/Data.ECOMModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=sECOMSQLEP01;initial catalog=ECOMLIVE;persist security info=True;user id=Monitors;password=W@tch3r$;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
  </connectionStrings>
  <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.SqlConnectionFactory, EntityFramework" />
    <providers>
      <provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer" />
    </providers>
  </entityFramework>
</configuration>